.para-style{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.para-style-id{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.para-style-new{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}